<section class="resume-section p-1 p-lg-1 align-items-center" id="about">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">이름</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">연락처</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">픽업 시간</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="2020-03-23 오후 3시">
            <small id="emailHelp" class="form-text text-muted">날짜와 시간을 적어주세요.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">케이크 선택</label>
            <div class="input-group">
                <select class="cake-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose...</option>
                    <option value="1">1호 케이크(15센치 23,000)</option>
                    <option value="2">3호 케이크(21센치 43,000)</option>
                </select>
                <div class="input-group-append">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="수량 입력">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>